absl-py==0.8.1
appdirs==1.4.4
astor==0.8.0
certifi==2021.5.30
cycler==0.10.0
Cython==0.29.14
darkflow==1.0.0
distlib==0.3.2
filelock==3.0.12
gast==0.2.2
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.10.0
importlib-metadata==4.6.0
importlib-resources==5.2.0
joblib==0.16.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
Markdown==3.1.1
matplotlib==3.3.0
numpy==1.17.4
opt-einsum==3.1.0
Pillow==6.2.1
pipenv==2021.5.29
protobuf==3.11.0
pyparsing==2.4.7
python-dateutil==2.8.1
scikit-learn==0.23.1
scipy==1.5.2
selenium==3.141.0
six==1.13.0
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==2.1.0
typing-extensions==3.10.0.0
urllib3==1.26.4
virtualenv==20.4.7
virtualenv-clone==0.5.4
Werkzeug==0.16.0
wrapt==1.11.2
zipp==3.4.1
